@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobilels {
    @media (max-width: 480px) {
        @content;
    }
}