@use '../abstracts' as *;

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobilels {
        grid-template-columns: 1fr;
    }
}