@use '../abstracts' as abs;

.site-footer {
    background-color: abs.$footer-bg;
    color: abs.$white;
    padding: 20px 0;
    margin-top: auto;

    .container {
        @include abs.flex-center; // Căn giữa nội dung footer
    }
}