@use '../abstracts' as *;

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}