@use '../abstracts' as *;

.site-header {
    padding: 20px;
    background-color: $primary-color;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobilels {
            flex-direction: column;
        }
    }
}

.main-nav {

    &__list {
        list-style: none;
        @include flex-center;
        gap: 20px;

        @include mobilels {
            flex-direction: column;
        }
    }

    &__link {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
            color: $link-color;
        }
    }
}