@use '../abstracts' as *;

.hero-banner {
    background: url("https://img.timviecthietke.com/2021/06/kich-thuoc-banner-website-1.png") center/cover no-repeat;
    height: 50vh;
    color: $secondary-color;
    @include flex-center;

    &__inner {
        @include flex-center;
        flex-direction: column;
        background-color: rgba(0,0,0,0.6);
        padding: 30px;
        border-radius: 12px;
    }
}